<div style="width:100%; margin-bottom: 20px;">
  No of Records Per Page: <select [(ngModel)]="records" (change)="changeRecords()">
      <option value="10" selected >10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </div>
<div style="overflow-y:scroll;height:500px; width: 100%;overflow-x:scroll;">

<table id="data-table">
  <thead >
    <tr >
   <th>name</th><th>phone</th><th>email</th><th>company</th>
    <th>date_entry</th><th>org_num</th><th>address_1</th><th>city</th>
    <th>zip</th><th>geo</th><th>pan</th><th>pin</th>
    <th>id</th><th>status</th><th>fee</th><th>guid</th>
    <th>date_exit</th><th>date_first</th><th>date_recent</th><th>url</th><th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of pagedItems">
    
    <td>{{data.name}}</td><td>{{data.phone}}</td><td>{{data.email}}</td><td>{{data.company}}</td>
    <td>{{data.date_entry}}</td><td>{{data.org_num}}</td><td>{{data.address_1}}</td><td>{{data.city}}</td>
    <td>{{data.zip}}</td><td>{{data.geo}}</td><td>{{data.pan}}</td><td>{{data.pin}}</td>
    <td>{{data.id}}</td><td>{{data.status}}</td><td>{{data.fee}}</td><td>{{data.guid}}</td>
    <td>{{data.date_exit}}</td><td>{{data.date_first}}</td><td>{{data.date_recent}}</td><td>{{data.url}}</td>
    <td><button class="btn btn-primary" style="height: 30px; width: 30px" (click)="postData(data.id)">Click</button></td>
  </tr>
</tbody>
</table>
</div>

<div>
    <div class="container">
        <div class="text-center">
            

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

