#data-table tr:hover {background-color: #ddd;}
#data-table tr:nth-child(even){background-color: #f2f2f2;}
#data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    width: 20px;
  }
  #data-table td, #data-table th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50px;
  }

  #data-table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    width: 20px;
  }

  #data-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
  }
  a {
    cursor: pointer;
}

  